/*
Aufgabe: Nr. 0
Name: Nadine Limberger
Matrikel: 255348
Datum: 20.03.2017
Hiermit versichere ich, dass ich diesen Code selbst geschrieben habe. Er wurde nicht kopiert und auch nicht diktiert.

body {
	margin-left: 2em;
	margin-right: 2em;
	font-family: "Helvetica", sans-serif;
	font-color: #BC8F8F;
}